<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>


	<appSettings>

		<add key="SourceFolder"
			 value="F:\FileMonitoring\Source" />
		<add key="DestinationFolder"
			 value="F:\FileMonitoring\Destination" />
		<add key="LogFolder"
			 value="F:\FileMonitoring\Logs" />
		
	</appSettings>
	
</configuration>